<div class="abl-intro center-75">
<h1>What is the battery life of my ...</h1>
<%= render :partial => "shared/product_form" %>
<h1><%= link_to "Browse All Products", products_path, {:class=>"thoughtbot"}%></h1>
</div>