<div id="abl-product-index">
	<div id="abl-product-index-body" class="center-75">
	<div id="abl-products-form" class="clearfix">
		<%= render :partial => 'product_form' %>
	</div>

	<div class="abl-products">
		<%= render :partial => 'form_hidden' %>
		<%= render :partial => 'product' %>
	</div>

</div>


